+all
    .g
        .g_machineExperience
            .g_machineImageOl, .g_machineImageVl
                position: absolute
                top: 0
                bottom: 0
                width: 50%
                right: 0
                +cover
            .g_machineImageVl
                left: 0
            &.g_left
                .g_text
                    padding-right: 3em
            &.g_right
                .g_text
                    padding-left: 3em
+mobile
    .g
        .g_machineExperience
            .g_bg
                z-index: 0
                position: absolute
                width: 100%
                height: 100%
                background-repeat: no-repeat
                background-position: center center
            &.g_mobileBottom
                .g_restrict
                    padding-top: 14em
            .g_machineImageOl, .g_machineImageVl
                background-size: contain
                background-repeat: no-repeat
                background-position: top center
                width: 100%
                height: 100%
            &.g_left
                .g_text
                    padding-right: 0em!important
                    padding-top: 2em

            &.g_right
                .g_text
                    padding-left: 0em!important
                    padding-top: 2em


