<template>
    <Zone v-if="!details.hide"
        :class="[$style.zone, 'g_accessoryExperience']"
        :id="details.id"
        align="right"
        mobilePosition="bottom"
        class="g_woodtexture"
        :backgroundImage="{ folder: 'rangeDescription', name: 'woodtexture' }">
        <Heading :level="4" fake v-html="details.headline" />
        <Heading :level="2" v-html="details.title" />
        <Paragraph :content="details.content" />
        <template slot="after">
            <div class="g_accessoryImage"
                v-img-src="{ folder: 'accessoryExperience', name: details.imageId }">
            </div>
        </template>
    </Zone>
</template>

<script>
export default {
    computed: {
        details () {
            return this.$json.accessoryExperience.detailsOl
        }
    }
}
</script>

<style module lang="sass">
.zone :global .g_text
    text-align: left
</style>

<style lang="sass">
.g_accessoryExperience
</style>
