<style lang="sass">
@import ~nespresso-bi/utilities
@import sass/accessoryExperience
</style>
<template>
    <div v-if="!accessoryExperience.hide">
        <Details />
        <Products />
    </div>
</template>

<script>
import Details from './Details'
import Products from './Products'

export default {
    components: {
        Details, Products
    },
    computed: {
        accessoryExperience () {
            return this.$json.accessoryExperience
        }
    }
}
</script>
