<template>
    <Products :data="products" v-if="!products.hide">
        <Heading :level="2" v-html="products.title" class="g_visually_hidden" />
        <div slot="product" slot-scope="item">
            <Product
                :data="item.product"
                list="Accessory experience products"
                :index="item.index" />
        </div>
    </Products>
</template>

<script>
import Products from 'gvue/src/components/Products'
import Product from 'gvue/src/components/Products/types/Product'

export default {
    components: {
        Products, Product
    },
    computed: {
        products () {
            return this.$json.accessoryExperience.products
        }
    }
}
</script>

<style>

</style>
