<style lang="sass">
@import ~nespresso-bi/utilities
</style>
<template>
    <div v-if="!breadcrumb.hide">
        <Breadcrumb
            @click="$refs.popin.open()"
            :category="breadcrumb.category"
            :siblings="breadcrumb.siblings">
        </Breadcrumb>
        <PopinCollection
            ref="popin"
            :tracking="'Buy button'"
            :list="techFilter()"
            :voice="common"
            :addToCart="$json.config.addToCart"
            :intensity="common.intensity"
            :slide="false">
            <div slot="title" class="g_popinCoffe">
                <div v-img-src="logoSrcPopin" class="g_logoPopin"> </div>
                <Paragraph :content="coffeeSections.popinDescription" />
            </div>
            <template slot-scope="{item}" slot="customHeader" :item="item" v-if="item">
                <div v-if="!item.id && item.data">
                    <ProductHeader
                        @back="() => { $refs.popin.$refs.popin.unslide() }"
                        slot="header"
                        :data="item"
                        :line="item.tech.toUpperCase()"
                        :intensity="common.intensity"
                        :voice="$json.common.voice">
                        <slot slot="beforeTitle" name="beforeTitle"/>
                        <slot :data="item" slot="imgBackground" name="imgBackground"/>
                    </ProductHeader>
                </div>
                <div class="g_coffeeHeader g_masterOriginHeader" v-else>
                    <Cta v-if="$breakpoint.isS"
                        class="g_btnRoundS g_btnBack"
                        type="button"
                        fontIcon="fn_angleLeft"
                        @click="$refs.popin.$refs.popin.unslide"
                        :content="common.back"
                        :aria-label="common.back"/>
                    <div class="g_background" v-img-src="{ folder: 'coffees/popin', name: item.id }"></div>
                    <div class="g_title">
                        <Heading :level="3" v-html="item.name ? item.name : item.data.name "/>
                        <p class="g_txt_S">
                            <span v-html="item.aromaticProfil ? item.aromaticProfil + ' -' : item.data.aromaticProfil + ' -'"/>
                            <span v-if="item.data" v-html="common.intensity + ' ' + item.data.capsuleProperties.intensity"></span>
                        </p>
                    </div>
                </div>
            </template>
        </PopinCollection>
    </div>
</template>

<script>

export default {
    data () {
        return {
            line: null
        }
    },
    computed: {
        newBreadcrumbCoffeesArray () {
            return this.$json.breadcrumb.coffees.map(coffee => {
                return {
                    ...coffee,
                    ...coffee.techParam
                }
            })
        },
        breadcrumb () {
            return this.$json.breadcrumb
        },
        coffeeSections () {
            return this.$json.coffeeSections
        },
        coffees () {
            return this.$json.coffeeSections.coffees
        },
        common () {
            return this.$json.common
        }
    },
    methods: {
        techFilter () {
            var mixedList = Array.prototype.concat.apply([], [this.$json.coffeeSections.coffees, this.newBreadcrumbCoffeesArray])
            if (this.$json.technology.isBothTech) {
                return mixedList
            } else {
                return mixedList.filter(function (coffee) {
                    return coffee.tech === 'ol'
                })
            }
        }
    }
}
</script>
