<style lang="sass">
@import ~nespresso-bi/utilities
@import ~nespresso-bi/brand/variables
@import sass/hero
</style>

<template>
    <Zone
        v-if="!hero.hide"
        :id="hero.id"
        class="g_hero"
        :class="[banner ? 'g_banner': '']"
        align="center">
        <Heading :level="2" v-html="hero.title" class="g_visually_hidden"/>
        <Heading :level="2" fake v-html="hero.subtitle" class="g_visually_hidden"/>
        <div v-img-src="{ folder: 'logos', name: 'shape', ext: 'png' }" class="g_logo">
            <div class="g_logoInside">
                <div v-img-src="logoSrc" class="g_logoShadow"></div>
                <div v-img-src="logoSrc" class="g_logoText"></div>
            </div>
        </div>
        <Heading :level="2" fake v-html="hero.subtitle" aria-hidden="true" />
        <template slot="before">
            <div class="g_coffeeBg" :class="[coffeeSelected !== '' ? 'g_opened' : '']">
                <div class="g_coffeeOverflow">
                    <ul class="g_coffeeTable">
                        <li v-if="$json.technology.isBothTech || coffee.tech === 'ol'" class="g_coffeeCell" v-for="(coffee, index) in coffees" :key="index" :class="[{'g_selected': coffeeSelected === coffee.id}, coffee.id]">
                            <div class="g_debugIE">
                                <div class="g_debugIETable">
                                    <div class="g_debugIECell">
                                        <div class="g_posterAndTranslate">
                                            <div v-if="!$breakpoint.isS" v-img-src="{ folder: 'coffees/posters', name: coffee.id }" class="g_poster">
                                                <div v-img-src="{ folder: 'coffees/shapes', name: coffee.id, ext: 'png' }" class="g_shape" />
                                            </div>
                                            <div class="g_bgTranslate">
                                                <div v-img-src="{ folder: 'coffees/textures', name: coffee.id }" class="g_bgImg" />
                                                <div class="g_bgImg g_placeholder" />
                                            </div>
                                        </div>
                                        <div class="g_overlay" />
                                        <div v-if="!$breakpoint.isS" class="g_clickableZone" @click="toggleCoffee(coffee.id)" />
                                        <div class="g_capsuleAndTextAndATC">
                                            <div class="g_capsuleAndText">
                                                <div class="g_capsule">
                                                    <Visual :src="{ folder: 'coffees/capsules', name: coffee.tech + '_shadow', ext: 'png' }" class="g_shadow" aria-hidden="true" />
                                                    <Visual :src="{ folder: 'coffees/capsules', name: coffee.id, ext: 'png' }" class="g_real" aria-hidden="true" />
                                                    <div :class="['g_' + coffee.tech + '_placeholder']" aria-hidden="true" />
                                                    <div v-if="!$breakpoint.isS && coffee.tech === 'ol'" class="g_video" :style="`mask-image: url(${$landing.getImgUrl({ folder: 'coffees/capsules', name: coffee.tech + '_mask' , ext: 'png' })})`">
                                                        <video width="100%" height="100%" autoplay muted="muted" loop>
                                                            <!-- <source :src="$landing.getImgUrl({ folder: 'coffees/capsules', name: coffee.id, disable: ~['vl_colombia', 'vl_mexico'].indexOf(coffee.id), ext: 'mp4' })" type="video/mp4"> -->
                                                            <source v-if="!~['vl_colombia', 'vl_mexico'].indexOf(coffee.id)" :src="$landing.getImgUrl({ folder: 'coffees/capsules', name: coffee.id, ext: 'mp4' })" type="video/mp4">
                                                        </video>
                                                    </div>
                                                </div>
                                                <Heading :level="4" fake  v-html="coffee.name ? coffee.name : coffee.data.name" />
                                                <div class="g_banner_touch_infos" v-if="banner">
                                                    <Cta
                                                        type="text" class="g_link"
                                                        :class="[$breakpoint.isS ? 'g_txt_XS': 'g_txt_M']"
                                                        fontIcon="fn_angleLink"
                                                        :content="common.discoverMore"
                                                        :link="anchorName(coffee.id)" />
                                                </div>
                                                <div class="g_infos" v-if="!$breakpoint.isS">
                                                    <Paragraph v-if="coffee.data" :content="coffee.aromaticProfil" size="M" />
                                                    <Paragraph v-if="coffee.data" :content="common.intensity + ' ' + coffee.data.capsuleProperties.intensity" size="M" />
                                                    <Cta
                                                        v-if="banner"
                                                        type="text" class="g_link"
                                                        fontIcon="fn_angleLink"
                                                        :content="common.discoverMore"
                                                        :link="anchorName(coffee.id)" />
                                                    <Cta
                                                        v-else
                                                        type="button" class="g_link"
                                                        fontIcon="fn_angleLink"
                                                        :content="common.discoverMore"
                                                        :scrollTo="`#${coffee.id},80`" />
                                                </div>
                                            </div>
                                            <div class="g_addToCartContainer">
                                                <AddToCart
                                                    @click="productClick"
                                                    :tracking="{ list: tracking, position: index }"
                                                    :translations="$json.config.addToCart"
                                                    modifier="mini"
                                                    v-bind="coffee.addToCart"
                                                    :product="coffee" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </template>
    </Zone>
</template>

<script>
import Tracking from 'nespresso-library/src/core/tracking'
import { addClass } from 'gaspard'
import { getHtml } from 'nespresso-library/src/utils/dom'

export default {
    data () {
        return {
            coffeeSelected: ''
        }
    },
    props: {
        banner: {
            type: Boolean,
            default: false
        },
        vanityUrl: {
            type: String,
            default: 'http://www.nespresso.com/master-origin'
        }
    },
    computed: {
        hero () {
            return this.$json.hero
        },
        coffees () {
            return this.$json.coffeeSections.coffees
        },
        common () {
            return this.$json.common
        },
        tracking () {
            return `${this.$landing.trackingLabelPrefix} - Hero coffees`
        }
    },
    mounted () {
        setTimeout(() => addClass(getHtml(), 'g_mounted'), 100)
    },
    methods: {
        productClick (coffee) {
            Tracking.productClick({
                products: [coffee],
                list: this.tracking
            })
        },
        toggleCoffee (id) {
            if (!this.$breakpoint.isS) {
                if (this.coffeeSelected === id) {
                    this.coffeeSelected = ''
                } else {
                    this.coffeeSelected = id
                }
            }
        },
        anchorName (id) {
            let anchor = id.split('_')
            let suffix = ''
            anchor[0] === 'vl' && anchor[1] === 'colombia' ? suffix = 'VL' : suffix = ''
            return this.vanityUrl + '?' + anchor[1] + suffix
        }
    }
}
</script>
