<template>
  <Zone
    :id="coffee.id"
    :backgroundImage="bgImage"
    class="g_coffeeSections"
    mobilePosition="bottom"
    contrast="light"
    align="center"
  >
    <template slot v-if="$breakpoint.isS">
      <Cta
        type="text"
        class="g_ccpLink g_txt_M"
        :content="coffee.ccpLink ? common.ccpLinkLabel : ''"
        :link="coffee.ccpLink"
        :linkMobile="coffee.ccpLinkMobile"
      >
        <div
          class="g_sectionShapes"
          v-img-src="{ folder: 'coffees/shapes', name: coffee.id, ext: 'png' }"
        ></div>
      </Cta>
    </template>
    <div class="g_table">
      <div class="g_tableCell g_tile">
        <div class="g_tileCoffee g_fairtrade" v-img-src="fairtrade">
          <div @click="() => $emit('openPopinCollection')">
            <div
              class="g_tileCapsule"
              v-img-src="{ folder: 'coffees/capsules', name: coffee.id, ext: 'png' }"
            ></div>
            <Heading :level="3" v-html="coffee.name ? coffee.name : coffee.data.name" />
            <span class="g_visually_hidden" v-html="coffee.fairtrade ? coffee.fairtrade : '' "></span>
            <Paragraph :content="coffee.sectionDescription" size="S" />
            <Cta
              type="button"
              class="g_roundButton g_btnRoundM"
              fontIcon="fn_more"
              :content="common.discoverMore"
            />
          </div>
        </div>
        <button class="g_tileRecipe" @click="() => $emit('openPopinRecipe')">
          <div class="g_tileRecipeImage" v-img-src="{ folder: 'coffees/recipes', name: coffee.id }"></div>
          <Paragraph
            v-if="currentRecipe"
            :content="common.suggestedRecipe + ' ' + '<span>' + currentRecipe.title"
            size="M"
          />
        </button>
      </div>
      <div class="g_tableCell">
        <div @mouseover="mouseOver()" @mouseleave="mouseLeave()">
          <Cta
            v-if="!$breakpoint.isS"
            type="text"
            class="g_ccpLink g_txt_M"
            :content="coffee.ccpLink ? common.ccpLinkLabel : ''"
            :link="coffee.ccpLink"
            :linkMobile="coffee.ccpLinkMobile"
          >
            <div
              class="g_sectionShapes"
              v-img-src="{ folder: 'coffees/shapes', name: coffee.id, ext: 'png' }"
            ></div>
          </Cta>
        </div>
      </div>
    </div>
  </Zone>
</template>

<script>
import store from "assets/js/store";

export default {
  props: {
    coffee: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      state: store.state
    };
  },
  computed: {
    common() {
      return this.$json.common;
    },
    currentRecipe() {
      for (const recipe of this.state.recipes) {
        if (recipe.id === this.coffee.recipeId) {
          return recipe;
        }
      }
    },
    bgImage() {
      if (this.$breakpoint.isS) {
        return { folder: "coffees/posters", name: this.coffee.id };
      } else {
        return { folder: "coffees/sections", name: this.coffee.id };
      }
    }
  },

  methods: {
    mouseOver() {
      let coffeSectionsBG = document.querySelectorAll(
        "#" + this.coffee.id + ">" + ".g_bg"
      );
      coffeSectionsBG[0].setAttribute("id", "g_bg");
    },
    mouseLeave() {
      let coffeSectionsBG = document.querySelectorAll(
        "#" + this.coffee.id + ">" + ".g_bg"
      );
      coffeSectionsBG[0].setAttribute("id", "g_bgLeave");
    }
  }
};
</script>
