<style lang="sass">
@import ~nespresso-bi/utilities
@import sass/coffeeSections
@import sass/popin
</style>
<template>
    <div v-if="!coffeeSections.hide" :id="coffeeSections.id">
        <Heading :level="2" v-html="coffeeSections.title" class="g_visually_hidden" />
        <CoffeeSection
            v-if="$json.technology.isBothTech || coffee.tech === 'ol'"
            v-for="(coffee, index) in coffeeSections.coffees"
            :key="index"
            :class="[{'g_even': (index === 0 && !$breakpoint.isS) || (!!(index && !(index%2)) && !$breakpoint.isS) }]"
            :coffee="coffee"
            @openPopinCollection="() => selectCoffee(coffee, index)"
            @openPopinRecipe="() => $refs.popinRecipes.openRecipe(coffee.recipeId)" />
        <PopinCollection
            ref="popin"
            :tracking="trackingLabel"
            :list="techFilter"
            :voice="common"
            :addToCart="$json.config.addToCart"
            :intensity="common.intensity"
            :line="'ol'"
            :slide="true">
            <div slot="title" class="g_popinCoffe">
                <div v-img-src="logoSrcPopin" class="g_logoPopin"> </div>
                <Paragraph :content="coffeeSections.popinDescription" />
            </div>
            <template slot-scope="{item}" slot="customHeader"  :item="currentItem" v-if="item">
                <!-- slot="customHeader"  :item="currentItem"  -->
                <div class="g_productHeader g_coffeeHeader g_masterOriginHeader">
                    <Cta v-if="$breakpoint.isS"
                        class="g_btnRoundS g_btnBack"
                        type="button"
                        fontIcon="fn_angleLeft"
                        @click="$refs.popin.$refs.popin.unslide"
                        :content="common.back"
                        :aria-label="common.back"/>
                    <div class="g_background" v-img-src="{ folder: 'coffees/popin', name: item.id }" ></div>
                    <div class="g_title">
                        <Heading :level="3" v-html="item.name ? item.name : item.data.name "/>
                        <p class="g_txt_S">
                            <!-- <span v-html="item.data.headline + ' -'" v-if="item.data.headline" /> -->
                            <span v-html="item.aromaticProfil ? item.aromaticProfil + ' -' : item.data.aromaticProfil + ' -'"/>
                            <span v-if="item.data.capsuleProperties.intensity" v-html="common.intensity + ' ' + item.data.capsuleProperties.intensity"></span>
                        </p>
                    </div>
                </div>
            </template>
            <template slot="beforeFooter" slot-scope="{item}" v-if="item">
                <Cta
                    type="text" isLink fontIcon="fn_angleLink"
                    :content="$json.common.ccpLinkLabel"
                    :link="item.ccpLink" :linkMobile="item.ccpLinkMobile"
                    v-if="item.ccpLink" />
            </template>
        </PopinCollection>
        <PopinRecipes ref="popinRecipes" />
    </div>
</template>

<script>
import PopinCollection from 'gvue/src/components/PopinCollection'
import CoffeeSection from './CoffeeSection'
import PopinRecipes from './PopinRecipes'
import Cta from 'gvue/src/core/Cta'

export default {
    components: {
        CoffeeSection, PopinCollection, PopinRecipes, Cta
    },
    data () {
        return {
            selectedCoffee: null,
            trackingLabel: null
        }
    },
    created () {
        this.selectedCoffee = this.coffeeSections.coffees[0]
    },
    computed: {
        coffeeSections () {
            return this.$json.coffeeSections
        },
        common () {
            return this.$json.common
        },
        techFilter () {
            var list = this.$json.coffeeSections.coffees
            if (this.$json.technology.isBothTech) {
                return list
            } else {
                return list.filter(function (coffee) {
                    return coffee.tech === 'ol'
                })
            }
        }
    },
    methods: {
        selectCoffee (coffee, index) {
            this.selectedCoffee = coffee
            this.trackingLabel = this.selectedCoffee.name
            this.$nextTick(() => this.$refs.popin.open(index, coffee))
        },
        back () {
            this.$emit('back')
        }
    }
}
</script>

<style>

</style>
