<style lang="sass" rel="stylesheet/sass">
@import ~nespresso-bi/utilities
@import ~nespresso-bi/brand/variables
@import ~nespresso-bi/layout/grids/imageGrid
@import ~gvue/src/components/Recipes/popin/leftCol/sass/leftCol
@import ~gvue/src/components/Recipes/popin/rightCol/sass/rightCol
@import ~gvue/src/components/Recipes/sass/recipes
</style>

<template>
    <Popin
        ref="popin"
        class="g_popinRecipe g_popinCollection"
        v-model="popinOpened"
        :closeLabel="common.close">
        <article v-if="activeRecipe" class="g_popinContent g_loaded">
            <RecipeHeader
                slot="header"
                :data="activeRecipe"
                v-if="$breakpoint.isS" />
            <LeftCol>
                <RecipeTitle
                    slot="title"
                    :data="activeRecipe" />
                <NaturalScroll
                    slot="content">
                    <RecipeContent
                        :data="activeRecipe" />
                </NaturalScroll>
            </LeftCol>
            <RightCol>
                <RecipeHeader
                    slot="header"
                    :data="activeRecipe"
                    v-if="!$breakpoint.isS" />
                <NaturalScroll
                    slot="section">
                    <RecipeSection
                        :data="activeRecipe" />
                </NaturalScroll>
            </RightCol>
        </article>
    </Popin>
</template>

<script>
// Core components
import Popin from 'gvue/src/core/Popin'

// PopinCollection layout
import LeftCol from 'gvue/src/core/Popin/Columns/LeftCol'
import RightCol from 'gvue/src/core/Popin/Columns/RightCol'
import NaturalScroll from 'gvue/src/core/Popin/Scrolls/NaturalScroll'
import InnerScroll from 'gvue/src/core/Popin/Scrolls/InnerScroll'
// Recipe layout
import RecipeTitle from 'gvue/src/components/Recipes/popin/leftCol/RecipeTitle'
import RecipeContent from 'gvue/src/components/Recipes/popin/leftCol/RecipeContent'
import RecipeHeader from 'gvue/src/components/Recipes/popin/rightCol/RecipeHeader'
import RecipeSection from 'gvue/src/components/Recipes/popin/rightCol/RecipeSection'

// Lib
import { getHtml, addEventOnce, deleteEvent } from 'nespresso-library/src/utils/dom'
import { toggleClass } from 'gaspard'
import Tracking from 'nespresso-library/src/core/tracking'
import Recipes from 'nespresso-library/src/core/recipes'

import store from 'assets/js/store'

const recipes = new Recipes()

export default {
    name: 'PopinRecipes',
    components: {
        Popin,
        LeftCol,
        RightCol,
        NaturalScroll,
        InnerScroll,
        RecipeTitle,
        RecipeContent,
        RecipeHeader,
        RecipeSection
    },
    data () {
        return {
            state: store.state,
            popinOpened: false,
            activeRecipe: null,
            recommendedGrandsCrus: [],
            isOpened: false
        }
    },
    computed: {
        common () {
            return this.$json.common
        }
    },
    created () {
        Promise.all(this.$json.coffeeSections.coffees
            .filter(coffee => coffee.recipeId && (this.$json.technology.isBothTech ? true : coffee.tech === 'ol'))
            .map(coffee => recipes.open(coffee.recipeId)))
            .then(recipes => store.setRecipes(recipes.filter(recipe => !!recipe).map(recipe => {
                if (recipe.video) {
                    recipe.video = recipe.video.replace('watch?v=', 'embed/')
                }
                return recipe
            })))
    },
    watch: {
        popinOpened (value) {
            toggleClass(getHtml(), 'g_scrollLock', value)

            if (value) {
                addEventOnce(document, 'keyup', this.closeDiscoverEchap)
            } else {
                deleteEvent(document, 'keyup', this.closeDiscoverEchap)
            }

            if (value) {
                Tracking.customEvent({
                    category: 'User Engagement',
                    action: 'Click',
                    label: `${this.$trackingLandingLabel} - Popin display - Recipe ${this.activeRecipe.id}`,
                    interaction: 0
                })
            } else {
                window.setTimeout(() => {
                    this.activeRecipe = null
                }, 750)
            }
        }
    },
    methods: {
        openRecipe (recipeId) {
            const recipe = store.findRecipeById(recipeId)
            if (recipe) {
                this.activeRecipe = recipe
                this.popinOpened = true
            }
        }
    }
}
</script>
