@import ~nespresso-bi/brand/variables
@import ~gvue/src/core/popin/sass/variables

+desktop
    .g
        .g_popin
            .g_link
                margin-bottom: 0
                margin-top: .5em
                padding-right: 2em
            .g_popinFixed
                .g_logo
                    height: 7em!important
                .g_table
                    .g_headerRow
                        .g_coffeeHeader.g_masterOriginHeader
                            .g_background
                                height: calc(#{pxToEm(48)} + (((85vw - 16px) - ((100vw - 100vh) * .5)) / 2 * 0.4257))
                            .g_title
                               margin-top: pxToEm(40)
            .g_popinCoffe
                .g_logoPopin
                    height:6em!important
                    position: absolute
                    left: 0
                    top: 3.5em
                .g_wysiwyg
                    padding-top: 7em

+mobile
    .g
        .g_popin
            .g_rightCol
                .g_btnBack
                    background: #000
                    color: #FFF
