<template>
    <Zone
        v-if="$json.technology.isBothTech && !details.hide"
        :class="[$style.zone, 'g_machineExperience']"
        :id="details.id"
        mobilePosition="bottom"
        class="g_woodtexture"
        :backgroundImage="{ folder: 'rangeDescription', name: 'woodtexture' }"
        align="right">
        <Heading :level="4" fake v-html="details.headline" />
        <Heading :level="2" v-html="details.title" />
        <Paragraph :content="details.content" />
        <template slot="after">
            <div class="g_machineImageVl"
                v-img-src="{ folder: 'machineExperience', name: details.imageId }">
            </div>
        </template>
    </Zone>
</template>

<script>
export default {
    computed: {
        details () {
            return this.$json.machineExperience.detailsVl
        }
    }
}
</script>

<style module lang="sass">
.zone :global .g_text
    text-align: left
</style>

<style lang="sass">
.g_machineExperience
</style>
