<style lang="sass">
@import ~nespresso-bi/utilities
@import sass/machineExperience
</style>
<template>
    <div>
        <DetailsOl/>
        <DetailsVl/>
        <Products />
    </div>
</template>

<script>
import DetailsOl from './DetailsOl'
import DetailsVl from './DetailsVl'
import Products from './Products'

export default {
    components: {
        DetailsOl, DetailsVl, Products

    },
    computed: {
        machineExperience () {
            return this.$json.machineExperience
        }
    }
}
</script>

<style>

</style>
