+all
    .g
        .g_accessoryExperience
            .g_accessoryImage
                position: absolute
                top: 0
                bottom: 0
                width: 50%
                left: 0
                +cover
            &.g_right
                .g_text
                    padding-left: 3em
        .g_products
            // +linear-gradient(bottom, rgba($color_light,0), $color_light, 0%, 25%)
            background-color: white

            .swiper-wrapper
                > li
                    .g_h5_nomargin
                        min-height: 42px

            .v_swiper .swiper-container .swiper-wrapper .swiper-slide .g_visual
                height: 12em

+mobile
    .g
        .g_accessoryExperience
            &.g_mobileBottom
                .g_restrict
                    padding-top: 14em
            .g_bg
                // background-position: bottom center
                // background-size: 200% auto
                z-index: 0
                position: absolute
                width: 100%
                height: 100%
                background-repeat: no-repeat
                background-position: center center
            .g_accessoryImage
                background-size: contain
                background-repeat: no-repeat
                background-position: top center
                width: 100%
                height: 100%
            &.g_left
                .g_text
                    padding-right: 0em
                    padding-top: 2em


