<template>
    <Zone
        v-if="!rangeDescription.hide"
        :id="rangeDescription.id"
        class="g_woodtexture"
        :backgroundImage="{ folder: 'rangeDescription', name: 'woodtexture' }"
        align="center">
        <Heading :level="2" v-html="rangeDescription.title" />
        <Paragraph :content="rangeDescription.content" size="XL" />
        <Paragraph :content="rangeDescription.content2" size="M" />
    </Zone>
</template>

<script>
export default {
    computed: {
        rangeDescription () {
            return this.$json.rangeDescription
        }
    }
}
</script>

<style>

</style>
