<style lang="sass">
@import ~assets/sass/common
@import ~components/Hero/sass/banner
</style>

<template>
    <div class="g g_masterOrigin" :class="[$json.technology.isBothTech ? 'g_isBothTech' : '']" v-if="$json">
        <Hero :banner="true" />
    </div>
</template>

<script>
import Hero from 'components/Hero'
import { addClass } from 'gaspard'
import { getHtml } from 'nespresso-library/src/utils/dom'
addClass(getHtml(), 'g_agility')

export default {
    name: 'app',
    components: {
        Hero
    }
}
</script>
