<style lang="sass">
@import ~assets/sass/common
</style>

<template>
  <div
    class="g g_masterOrigin"
    :class="[$json.technology.isBothTech ? 'g_isBothTech' : '']"
    v-if="$json"
  >
    <!-- <TopBar :class="displayBreadcrumb" /> -->
    <TopBar />
    <Hero :banner="false" />
    <!-- <div ref="hero" tabindex="-1" aria-hidden="true"/> -->
    <RangeDescription />
    <CoffeeSections />
    <MachineExperience />
    <AccessoryExperience />
  </div>
</template>

<script>
// IntersectionObserver
// import { position, outerHeight, toggleClass } from 'gaspard'
// import IntersectionObserverManager from 'nespresso-library/src/utils/IntersectionObserverManager'

// Lib
import { addClass } from "gaspard";
import { getHtml } from "nespresso-library/src/utils/dom";
import Anchor from "assets/js/mixins/Anchor";
// Components
import Hero from "components/Hero";
import TopBar from "components/TopBar";
import RangeDescription from "components/RangeDescription";
import CoffeeSections from "components/CoffeeSections";
import MachineExperience from "components/MachineExperience";
import AccessoryExperience from "components/AccessoryExperience";

addClass(getHtml(), "g_agility");

export default {
  name: "app",
  mixins: [Anchor],
  components: {
    Hero,
    TopBar,
    RangeDescription,
    CoffeeSections,
    MachineExperience,
    AccessoryExperience
  },
  data() {
    return {
      displayBreadcrumb: ""
    };
  },
  watch: {
    $json(value) {
      if (value) {
        setTimeout(() => {
          this.goToAnchor();
          // if (!window.IntersectionObserver) {
          //     import('intersection-observer').then(() => {
          //         this.load()
          //     })
          // }
        }, 500);
      }
    }
  },
  mounted() {
    window.addEventListener("resize", this.load, { passive: true });
    window.addEventListener("scroll", this.handleScroll);
  },
  unmount() {
    if (this.iom.hasIntersectionObserver()) {
      this.iom.unobserve({
        element: this.$refs.rangeDescription
      });
    }
  }
  // methods: {
  //     load () {
  //         let height = 0
  //         this.iom = new IntersectionObserverManager({
  //             isLandscape: {
  //                 above: [0],
  //                 rootMargin: '-' + height + 'px 0%'
  //             },
  //             isPortrait: {
  //                 above: [0],
  //                 rootMargin: '-' + height + 'px 0%'
  //             }
  //         })
  //         if (this.iom.hasIntersectionObserver()) {
  //             console.log({
  //                 element: this.$refs.hero,
  //                 onViewportEnter: () => {
  //                     // this.isFixed = false
  //                     this.displayBreadcrumb = ''
  //                 },
  //                 onViewportOut: () => {
  //                     if (this.$breakpoint.isS) {
  //                         // this.isFixed = true
  //                         this.displayBreadcrumb = 'g_displayBreadcrumb'
  //                     }
  //                 }
  //             })
  //             this.iom.addItem({
  //                 element: this.$refs.hero,
  //                 onViewportEnter: () => {
  //                     // this.isFixed = false
  //                     this.displayBreadcrumb = ''
  //                 },
  //                 onViewportOut: () => {
  //                     if (this.$breakpoint.isS) {
  //                         // this.isFixed = true
  //                         this.displayBreadcrumb = 'g_displayBreadcrumb'
  //                     }
  //                 }
  //             })
  //         }
  //     }
  // }
};
</script>
