+all
    .g
        .g_restrict
            // width: 75%!important // Why Dina ?
        .g_woodtexture
            .g_bg
                background-color: black
                &:after
                    content: ""
                    +fit
                    +linear-gradient(top, rgba(black,0), rgba(black,.3), 0%, 100%)
            &.g_left
                .g_bg
                    &:after
                        content: ""
                        +fit
                        +linear-gradient(left, rgba(black,0), rgba(black,.5), 50%, 60%)
            &.g_right
                .g_bg
                    &:after
                        content: ""
                        +fit
                        +linear-gradient(right, rgba(black,0), rgba(black,.4), 50%, 100%)

        .g_logoPopin
            +contain
            width: 100%
            height: 22em
            margin-bottom: 0em
            position: relative
            .g_logoSvg
                width: 90%
                height: 100%
                +contain
                +icon-center
                margin-top: 2em
                opacity: .8


+mobile
    .g
        .g_logo, .g_logoPopin
            height: 4em
            margin-bottom: 1em

        .g_breadcrumb
            .g_nav
                top: 50px
        //         top: 0
        //         +transition($duration_medium)

        // .g_displayBreadcrumb
        //     .g_breadcrumb
        //         .g_nav
        //             top: 50px
